.background {
	position: absolute;
	height: 1900px;
	top: 0;
	left: 0;
	z-index: -1;
}

.background__linear-top {
	position: relative;
	width: 1920px;
	height: 1200px;
	background: linear-gradient(330.24deg, rgba(11, 29, 38, 0) 31.06%, #0B1D26 108.93%);
	z-index: 2;
}

.background__linear-bottom {
	position: absolute;
	bottom: 0;
	width: 1920px;
	height: 700px;
	background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 61.38%);
	z-index: 2;
}

.background__bg-top {
	position: absolute;
	left: 0;
	top: 0;
} 

.background__bg-middle {
	position: absolute;
	left: 0;
	top: 450px;
}

.background__bg-bottom {
	position: absolute;
	left: 0;
	top: 750px;
}